*{
	/*Google Fonts*/
	font-family: 'Open Sans', sans-serif;

	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding-top: 50px;
}
h1{
	display: inline-block;
	color: blue;
	text-align: center;
/*	font-size: 2rem;*/
}

#box {
	display: inline;
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 10px solid black;
	background-color: orange;
}

#box2 {
	display: inline;
	height: 150px;
	width: 150px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	border: 10px solid darkgray;
}

#myButton {
	border: 2px solid #333;
	padding: 10px;
	color:  black;
	background-color: darkgray;
	border-radius: 50px;
}

#container {
	display: inline;
	margin-top: 100px;
}
#paragraph {
	text-align: center;
}
/*#sidebar{
	display: inline-block;
	height: 80vh;
	width: 80vw;
	background-color: blue;
	width: 100px;
	padding: 10px;

}
#content {
	display: inline;
	margin-left: 100px;
}*/

